<!--
  Generated template for the LieuDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-wrap>

  <ion-navbar text-wrap>
    <ion-title text-wrap>REZOOM > {{ user.first_name }} {{ user.last_name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
		<p>{{ base64 }}</p>
	 	<div>
	 		<p class="bold">CE FLASH CODE CORRESPOND AU LIEU SUIVANT : </p>
	 		<p>{{ lieu.nom_lieux }}</p>
	 	</div >
	 	<div class="hr"> </div>
	 	<div>
	 		<p><span class="bold">NOUS SOMME EN SEMAINE :</span>  5</p>
	 		<p><span class="bold">IL EST :</span>  {{ date_now }}</p>
	 	
	 	</div>

	 	<div class="hr"> </div>
	 	<div>
	 		<p class="bold">CETTE SEMAINE, VOUS DEVRIEZ TROUVER SUR CE PRESENTOIRE : </p>
	 		<ul>
	 			<li *ngFor="let campagne of campagnes">
	 				{{ campagne.nom_campagne }} <span *ngIf="logged">: {{ campagne.nb_casier }} CASIER(S) / {{ campagne.repartition }}</span>
	 			</li>
	 		</ul>
	 		
	 	</div>
	 	 <div class="hr"> </div>

	 	<div *ngIf="!logged">
	 		<button ion-button block >
            
              DECOUVREZ REZOOM
      		</button>

      		<button ion-button block >
            
              NOUS CONTACTER
      		</button>
	 	</div>

	 	<div *ngIf="logged">
	 		<p text-center>DEPOSEZ LES DOCUMENTS SUR LE PRESENTOIR PUIS</p>
	 		<button ion-button block icon-left (click)="presentActionSheet()" [hidden]="lastImage !== null">
	 			<ion-icon name="camera"></ion-icon>
            	PRENEZ PHOTO
      		</button>	

      			<p text-center>ENSUITE</p>

      		
      		<button [disabled]="lastImage === null" ion-button block icon-left (click)="validateImage()">
	 			<ion-icon name="camera"></ion-icon>
            	VALIDER LA PHOTO
      		</button>
      		<br>
      		<br>
      		<p text-center [hidden]="lastImage !== null" >ENVOYEZ UN MAIL POUR SIGNALER UN PROBLEME SUR CE PRESENTOIRE</p>

      		<button ion-button block [hidden]="lastImage !== null" (click)="signaler()">
	 			
            	SIGNALER
      		</button>


      		


	 	</div>



	 	<div class="hr"> </div>

	 	
	 	<div *ngIf="!logged">
	 		<p text-center>ESPACE PRO</p>
	 		<form padding (ngSubmit)="login()">
		      <ion-item>
		        <ion-label class="label">IDENTIFIANT</ion-label>
		        <ion-input [(ngModel)]="identity" type="text" name="title" placeholder="Identifiant"></ion-input>
		      </ion-item>
		      <ion-item>
		        <ion-label class="label">MOT DE PASSE</ion-label>
		        <ion-input [(ngModel)]="password" type="password" name="description" placeholder="Mot de passe"></ion-input>
		      </ion-item>
		      <button ion-button type="submit" block>IDENTIFICATION</button>
		    </form>

		    <div class="hr"> </div>
	 		
	 	</div>

	 	<div>
      			{{ lieu_str }}
      		</div>
      		<div>
      			{{ lieu_str_all }}
      		</div>

	 	

		<div *ngIf="logged">
	 		
	 		 <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
  			
		</div>

		<button [hidden]="lastImage === null" ion-button block icon-left (click)="cancel()">
	 			
            	ANNULER
      	</button>
	 
</ion-content>


<!-- 
<ion-footer *ngIf="logged">
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
