
<ion-header>

  <ion-navbar>
  

    <ion-title>REZOOM</ion-title>
  </ion-navbar>

</ion-header>

<ion-content scroll="false" *ngIf="!scanning" >
  <!-- <div class="splash-bg"></div> -->
    <div text-center>
        <ion-img width="200" src="assets/img/logo.jpg"></ion-img>
 
    </div>
    
    <div padding>

      
      <button ion-button icon-left block (click)="scan()" id="scan">
            <ion-icon name="camera"></ion-icon> <br>
            <b>SCAN QR CODE</b>  
      </button>

      <button ion-button icon-left block (click)="upload()" id="upload">
            <ion-icon name="arrow-down"></ion-icon>
            <b>UPLOADER LES IMAGES</b>  
      </button>

      <div class="hr"></div>
      <div text-center *ngIf="date_datas">
        VOUS SUIVEZ LE PLANNING TELECHARGE
      </div>
      <div text-center *ngIf="date_datas">
        le {{ date_datas }}
      </div>
      <button ion-button icon-left block (click)="importDatas()">
            <ion-icon name="arrow-down"></ion-icon>
              SYNCHRONYSER LES DONNES
      </button>
      <div class="hr"></div>

      

      
      <button ion-button icon-left block *ngIf="!logged" (click)="login()">
            <ion-icon name="arrow-down"></ion-icon>
              CONNEXION
      </button>

      <button ion-button icon-left block *ngIf="logged" (click)="logout()" >
            <ion-icon name="arrow-down"></ion-icon>
              DECONNEXION
      </button>

    

      <ul>
        <li *ngFor="let image of images">{{ image.name }}</li>
      </ul>
    </div>
      

   
    
    <!-- <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button> -->



</ion-content>
