
<ion-header>

  <ion-navbar>
  

    <ion-title>REZOOM</ion-title>
  </ion-navbar>

</ion-header>

<ion-content scroll="false" *ngIf="!scanning" >
  <!-- <div class="splash-bg"></div> -->
 
    <div padding>
      
      <button ion-button icon-left block (click)="scan()">
            <ion-icon name="camera"></ion-icon> <br>
              SCAN QR CODE
      </button>

      <button ion-button icon-left block (click)="importDatas()">
            <ion-icon name="arrow-down"></ion-icon>
              Synchroniser les données
      </button>

      <div class="hr"></div>

      <button ion-button icon-left block (click)="upload()">
            <ion-icon name="arrow-down"></ion-icon>
              Uploader les images
      </button>

      <button ion-button icon-left block *ngIf="!logged" (click)="login()">
            <ion-icon name="arrow-down"></ion-icon>
              Connexion
      </button>

      <button ion-button icon-left block *ngIf="logged" (click)="logout()" >
            <ion-icon name="arrow-down"></ion-icon>
              Déconexion
      </button>

    

      <ul>
        <li *ngFor="let image of images">{{ image.name }}</li>
      </ul>
    </div>
      

   
    
    <!-- <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button> -->



</ion-content>
