<!--
  Generated template for the UploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>REZOOM -> Upload images</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
	    <ion-item *ngFor="let image of images	">
		    <ion-spinner name="bubbles"  *ngIf="uploaded === false" item-start></ion-spinner>
			<ion-icon name="checkmark" *ngIf="uploaded === true" item-start></ion-icon>
		      <h2>{{ image.name }}</h2>
			    <h3>Campagnes : </h3>
			    <ul>
			    	<li *ngFor="let campagne of image.campagnes" >{{ campagne.nom_campagne }}</li>
			    </ul>
			  
			   	<p>{{ image.date_upload }}</p>
			 
		    
		</ion-item>
	

</ion-content>
